#
# I/O pins for ICOboard
#
set_io --warn-no-port led1 C8
set_io --warn-no-port led2 F7
set_io --warn-no-port led3 K9

set_io pclk R9

#set_io reset N11
#set_io TXD B12
#set_io RXD B10

#set_io hsync B4
#set_io vsync B5
# RGB 2:2:2
#set_io rgb[0] B3
#set_io rgb[1] C3
#set_io rgb[2] B7
#set_io rgb[3] A5
#set_io rgb[4] B6
#set_io rgb[5] A2

set_io hsync N6
set_io vsync N7

# RGB 2:2:2
set_io rgb[0] M8
set_io rgb[1] L7
set_io rgb[2] N9
set_io rgb[3] L9
set_io rgb[4] P9
set_io rgb[5] G5

set_io key_col[0] 	F11
set_io key_col[1]	E14
set_io key_col[2]	F12
set_io key_col[3]	E11
set_io key_col[4]	D11
set_io key_col[5]	D10
set_io ctrl_key		G11
set_io shift_key 	E13
set_io rept_key		F9
set_io key_reset	E10

set_io key_row[0] 	K13
set_io key_row[1]	J13
set_io key_row[2]	J11
set_io key_row[3]	M15
set_io key_row[4]	M16
set_io key_row[5]	H14
set_io key_row[6]	K15
set_io key_row[7]	G13
set_io key_row[8]	F14
set_io key_row[9]	T16


set_io SRAM_A[0]  N2
set_io SRAM_A[1]  K5
set_io SRAM_A[2]  J5
set_io SRAM_A[3]  M5
set_io SRAM_A[4]  P4
set_io SRAM_A[5]  N5
set_io SRAM_A[6]  P5
set_io SRAM_A[7]  P7
set_io SRAM_A[8]  M6
set_io SRAM_A[9]  P6
set_io SRAM_A[10] T8
set_io SRAM_A[11] T1
set_io SRAM_A[12] P2
set_io SRAM_A[13] R1
set_io SRAM_A[14] N3
set_io SRAM_A[15] P1
set_io SRAM_A[16] M11
set_io SRAM_A[17] P10
set_io SRAM_A[18] P8

set_io SRAM_D[0]  T2
set_io SRAM_D[1]  R3
set_io SRAM_D[2]  T3
set_io SRAM_D[3]  R4
set_io SRAM_D[4]  R5
set_io SRAM_D[5]  T5
set_io SRAM_D[6]  R6
set_io SRAM_D[7]  T6
set_io SRAM_D[8]  N4
set_io SRAM_D[9]  M4
set_io SRAM_D[10] L6
set_io SRAM_D[11] M3
set_io SRAM_D[12] L4
set_io SRAM_D[13] L3
set_io SRAM_D[14] K4
set_io SRAM_D[15] K3

set_io SRAM_nCE  M7
set_io SRAM_nWE  T7
set_io SRAM_nOE  L5
set_io SRAM_nLB  J4
set_io SRAM_nUB  J3

# SD Card
#set_io ss       D8
#set_io mosi     B9
#set_io sclk     B10
#set_io miso     B11


# SD Card
#set_io ss       N9
#set_io mosi     P9
#set_io sclk     M8
#set_io miso     N7


# SD Card
set_io ss       T15
set_io mosi     T14
set_io sclk     T11
set_io miso     R10


set_io --warn-no-port SPI_FLASH_CS   R12
set_io --warn-no-port SPI_FLASH_SCLK R11
set_io --warn-no-port SPI_FLASH_MOSI P12
set_io --warn-no-port SPI_FLASH_MISO P11

