set_io LED0 B5
set_io LED1 B4
set_io LED2 A2
set_io LED3 A1
set_io LED4 C5
set_io LED5 C4
set_io LED6 B3
set_io LED7 C3
set_io pclk J3
set_io reset A16
#set_io TXD B12
#set_io RXD B10

set_io hsync C16
set_io vsync B16
set_io blue D16
set_io red D14
set_io green1 E16
set_io green2 D15

set_io key_col0 	F16
set_io key_col1		G16
set_io key_col2		H16
set_io key_col3		J15
set_io key_col4		G14
set_io key_col5		K14
set_io ctrl_key		K15
set_io shift_key 	M16
set_io rept_key		N16
set_io key_reset	P16

set_io key_row0 	E14
set_io key_row1		F15
set_io key_row2		G15
set_io key_row3		H14
set_io key_row4		F14
set_io key_row5		J14
set_io key_row6		K16
set_io key_row7		L16
set_io key_row8		M15
set_io key_row9		P15
